<%= div_for(comment, 'data-comment-id' => comment.id, :class => "moderation_status_#{comment.moderation_status}") do %>
  <div class="arrow"></div>
  <div class="shell">
    <div class="metadata">
      <div class="avatar">
  		  <img src="//www.gravatar.com/avatar/<%= comment.author_email_md5 %>?s=64"
  		  width="64"
  		  height="64"
  		  alt="<%= comment.author_name || 'Anonymous' %>">
  	  </div>
  	  <div class="author">
  	    <span class="name"><%= comment.author_name || 'Anonymous' %></span>
  	    <% if comment.author_email %>
  	      <span class="email">(<a href="mailto:<%= comment.author_email %>"><%= comment.author_email %></a>)</span>
  	    <% end %>
  	  </div>
  	  <div class="creation-time">
  	    wrote on <span class="value"><%= comment.created_at.strftime("%B %d %Y, %H:%M") %></span>
  	  </div>
      <% if local_assigns[:show_topic] %>
        <div class="associated-topic">
          (<%= link_to comment.site.name, [:admin, comment.site] %> /
           <%= link_to comment.topic.title, [:admin, comment.topic] %>)
        </div>
      <% end %>
  	</div>
    <div class="content">
      <%= render_markdown(comment.content) %>
    </div>
    <div class="actions button-container">
      <% if comment.moderation_status != :ok %>
        <% if comment.moderation_status == :unchecked %>
          <p><em>This comment is unchecked.</em></p>
        <% elsif comment.moderation_status == :spam %>
          <p><em>This appears to be spam.</em></p>
        <% else %>
          <% raise "Unknown moderation status #{comment.moderation_status.inspect}" %>
        <% end %>
        <%= positive_primary_approve_button_link_to 'Approve', approve_admin_comment_path(comment), :method => :put %>
      <% end %>
      <%= edit_button_link_to 'Edit', edit_admin_comment_path(comment, :return_to => request.fullpath) %>
      <%= button_group do %>
        <%= remove_button_link_to 'Mark as spam & delete', admin_comment_path(comment, :spam => true),
          :method => :delete,
          :confirm => 'Are you sure?',
          :return_to => request.fullpath %>
        <%= remove_button_link_to 'Delete', [:admin, comment],
          :method => :delete,
          :confirm => 'Are you sure?',
          :return_to => request.fullpath %>
      <% end %>
    </div>
  </div>
<% end %>
