<%= div_for(comment, 'data-comment-id' => comment.id, :class => "moderation_status_#{comment.moderation_status}") do %>
  <div class="metadata">
    <div class="avatar">
		  <img src="//www.gravatar.com/avatar/<%= comment.author_email_md5 %>?s=64"
		  width="64"
		  height="64"
		  alt="<%= comment.author_name || 'Anonymous' %>">
	  </div>
	  <div class="author">
	    <span class="name"><%= comment.author_name || 'Anonymous' %></span>
	    <% if comment.author_email %>
	      <span class="email">(<a href="mailto:<%= comment.author_email %>"><%= comment.author_email %></a>)</span>
	    <% end %>
	  </div>
	  <div class="creation-time">
	    wrote on <span class="value"><%= comment.created_at.strftime("%B %d %Y, %H:%M") %></span>:
	  </div>
	</div>
  <div class="content">
    <%= render_markdown(comment.content) %>
  </div>
  <div class="actions button-container">
    <% if comment.moderation_status == :unchecked %>
      <%= positive_primary_approve_button_link_to 'Approve', 'javascript:void(approveComment())' %>
    <% end %>
    <%= edit_button_link_to 'Edit', edit_admin_comment_path(comment, :return_to => request.fullpath) %>
    <%= button_group do %>
      <% if comment.moderation_status == :ok %>
        <%= remove_button_link_to 'Mark as spam & delete', [:admin, comment], :method => 'delete', :confirm => 'Are you sure?' %>
      <% elsif comment.moderation_status == :unchecked %>
        <%= button_link_to 'Approve', approve_admin_comment_path(comment), :method => 'post', :class => 'approve' %>
        <%= remove_button_link_to 'Mark as spam & delete', [:admin, comment], :method => 'delete', :confirm => 'Are you sure?' %>
      <% else %>
        <% raise "Bug: unknown moderation status #{comment.moderation_status.inspect}" %>
      <% end %>
      <%= remove_button_link_to 'Delete', [:admin, comment], :method => 'delete', :confirm => 'Are you sure?' %>
    <% end %>
  </div>
<% end %>
