<% @title = "Welcome" %>
<h1>Let's get started!</h1>

<%= form_for(@site, :url => { :action => 'create_site' }, :method => 'put', :html => { :class => 'dashboard_new_site' }) do |f| %>
  <p>So you want to embed comments on a bunch of web pages.</p>
  
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being created:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="para">
    <label for="site_name">What's your site's name?</label><br />
    Enter just one. If you have more sites you can register those later.<br />
    <%= f.text_field :name %>
  </div>
  
  <div class="para">
    <strong>How do you want to moderate new comments?</strong><br />
    <div class="indent">
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :none %>
        Don't moderate, approve all comments automatically.
      </label>
      <br />
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :akismet %>
        Check spam with <a href="http://akismet.com/">Akismet</a>, approve automatically if no spam detected.
      </label>
      <br />
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :manual %>
        Manually approve all comments.
      </label>
    </div>
  </div>

  <div class="akismet_required para" style="display: none">
    <label for="site_url">Site URL</label><br />
    <%= f.text_field :url %>
  </div>

  <div class="akismet_required para" style="display: none">
    <label for="site_akismet_key">Akismet key</label><br />
    <%= f.text_field :akismet_key %>
  </div>
  
  <div class="para actions">
    <%= arrowright_button_submit_tag 'Next step &raquo;'.html_safe %>
  </div>
<% end %>

<script>
function moderationMethodChanged() {
  console.log('here');
  if ($('#site_moderation_method_akismet').prop('checked')) {
    $('.akismet_required').show();
  } else {
    $('.akismet_required').hide();
  }
}

$(document).ready(function() {
  moderationMethodChanged();
  $('.dashboard_new_site .radio_option').change(moderationMethodChanged);
})
</script>
