<h1>Welcome to Juvia</h1>
<p>Let's setup an administrator account first!</p>

<%= form_for(@user, :url => { :action => 'create_admin' }, :method => 'put') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="para">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="para">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="para">
    <%= f.label :password_confirmation, 'Confirm password' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="para actions">
    <%= primary_button_submit_tag "Create account & login &raquo;".html_safe %>
  </div>
<% end %>
