<div class="juvia-container"
	data-site-key="<%= @site_key %>"
	data-topic-key="<%= @topic_key %>"
	data-topic-title="<%= @topic_title %>"
	data-topic-url="<%= @topic_url %>">
<div class="juvia-topic">
	<% comments = topic.comments.visible.to_a %>
	<% if comments.size == 1 %>
		<h3 class="juvia-comment-count-header">1 comment</h3>
		<div class="juvia-comments">
			<%= render :partial => 'comment', :collection => comments %>
		</div>
	<% elsif comments.size > 1 %>
		<h3 class="juvia-comment-count-header"><%= comments.size %> comments</h3>
		<div class="juvia-comments">
			<%= render :partial => 'comment', :collection => comments %>
		</div>
	<% else %>
		<div class="juvia-comments juvia-no-comments">There are no comments yet.</div>
	<% end %>
	
	<h3>Add comment</h3>
	<%= render :partial => 'form' %>
</div>
</div> <!-- juvia-container -->