<% @title = @topic.title %>
<%= large_identity_tag :topic, "#{link_to @topic.site.name, [:admin, @topic.site]} / #{@topic.title}".html_safe %>

<div class="topic_info box para">
  <div class="shell">
    <table class="compact nostripes vertical_align" style="width: auto">
    <tr>
      <td class="align_right label pad_right">Topic key</td>
      <td><%= @topic.key %></td>
    </tr>
    <tr>
      <td class="align_right label pad_right">URL</td>
      <td>
        <% if @topic.url %>
          <%= link_to @topic.url, @topic.url %>
        <% else %>
          None
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="align_right label pad_right">Actions</td>
      <td><%= remove_button_link_to 'Delete entire topic', [:admin, @topic],
        :method => :delete,
        :confirm => 'Are you sure? All containing comments will also be removed!' %></td>
    </tr>
    </table>
  </div>
</div>

<div class="prevent_margin_collapse"></div>

<div class="para comments list">
  <%= render @comments %>
  <%= will_paginate @comments %>
</div>
