<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="avatar" style="float: right">
    <img src="//www.gravatar.com/avatar/<%= @user.email_md5 %>?s=128" width="128" height="128">
  </div>

  <div class="para">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="para">
    <%= f.label :password,
      @user.new_record? ?
      nil :
      "Change password (leave blank if you don't want to change it)" %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="para">
    <%= f.label :password_confirmation, 'Confirm password' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <% if can?(:make_admin, @user) %>
    <div class="para">
      <%= f.check_box :admin %>
      <%= f.label :admin, 'Administrator rights' %>
    </div>
  <% end %>

  <div class="para actions">
    <%= primary_button_submit_tag(@user.new_record? ? 'Create' : 'Update') %>
    <%= button_link_to 'Cancel', admin_users_path %>
    <% if can?(:destroy, @user) && !@user.new_record? %>
      <%= danger_button_link_to 'Delete', [:admin, @user],
        :method => :delete,
        :confirm => 'Are you sure? All sites, comments and topics belonging to this user will also be deleted!' %>
    <% end %>
  </div>
<% end %>
