<div class="list_with_actions">
  <% if can?(:create, User) %>
    <div class="pre actions">
      <%= add_button_link_to 'Create a new user', new_admin_user_path %>
    </div>
  <% end %>

  <div class="users resources list">
  <% @users.each do |user| %>
    <%= div_for(user, :class => 'item') do %>
      <div class="avatar"><img src="//www.gravatar.com/avatar/<%= user.email_md5 %>?s=22" width="22" height="22"></div>
      <div class="email"><%= link_to user.email, [:admin, user] %></div>
      <% if user.admin? %>
        <div class="admin">admin</div>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <%= will_paginate @users %>

  <% if can?(:create, User) %>
    <div class="pre actions">
      <%= add_button_link_to 'Create a new user', new_admin_user_path %>
    </div>
  <% end %>
</div>
