<nav id="sections_bar" class="container">
  <div class="row">
    <div class="sections col_9 clearleft">
      <% if can?(:read, Site) %>
        <div class="section <%= maybe_active(:sites) %>">
          <%= link_to "Sites", admin_sites_path %>
        </div>
      <% end %>
      <% if can?(:read, Comment) %>
        <div class="section <%= maybe_active(:comments) %>">
          <% counter = Comment.accessible_by(current_ability).requiring_moderation.count %>
          <% if counter == 0 %>
            <%= link_to "Comments", admin_comments_path %>
          <% else %>
            <%= link_to "Comments (#{counter})", admin_comments_path %>
          <% end %>
        </div>
      <% end %>
      <% if can?(:list, User) %>
        <div class="section <%= maybe_active(:users) %>">
          <%= link_to "Users", admin_users_path %>
        </div>
      <% end %>
    </div>
    <div class="actions col_3 omega">
      <%= button_group do %>
        <% if can?(:create, User) %>
          <%= user_pill_button_link_to 'New user', new_admin_user_path %>
        <% end %>
        <% if can?(:create, Site) %>
          <%= add_pill_button_link_to 'New site', new_admin_site_path %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
