<nav id="sections_bar" class="container">
  <div class="row">
    <div class="sections col_10 clearleft">
      <div class="section <%= maybe_active(:comments) %>"><%= link_to 'Comments', admin_comments_path %></div>
      <div class="section <%= maybe_active(:sites) %>"><%= link_to 'Sites', admin_sites_path %></div>
      <div class="section <%= maybe_active(:users) %>"><%= link_to 'Users', admin_users_path %></div>
      <div class="section <%= maybe_active(:system_settings) %>"><a>System Settings</a></div>
    </div>
    <div class="actions col_2 omega">
      <div class="action"><%= link_to 'New user', new_admin_user_path %></div>
      <div class="action">New site</div>
    </div>
  </div>
</nav>
