<%= form_for([:admin, @site]) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <div class="value"><%= f.text_field :name %></div>
  </div>

  <div class="actions">
    <%= positive_button_submit_tag(@site.new_record? ? 'Create' : 'Update') %>
    <%= button_link_to 'Cancel', admin_sites_path %>
  </div>
<% end %>
