<%= form_for([:admin, @site]) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= f.label :name %></div>
    <div class="value"><%= f.text_field :name %></div>
  </div>

  <div class="field">
    <div class="label">How do you want to moderate new comments?</div>
    <div class="value radio_buttons">
      <label>
        <%= f.radio_button :moderation_method, :none %>
        Don't moderate, approve all comments automatically.
      </label>
      <label>
        <%= f.radio_button :moderation_method, :akismet %>
        Check spam with Akismet, approve automatically if no spam detected.
      </label>
      <label>
        <%= f.radio_button :moderation_method, :manual %>
        Manually approve all comments.
      </label>
    </div>
  </div>

  <div class="actions">
    <%= primary_button_submit_tag(@site.new_record? ? 'Create' : 'Update') %>
    <%= button_link_to 'Cancel', [:admin, @site] %>
  </div>
<% end %>
