<%= form_for([:admin, @site]) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="para">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="para">
    <%= f.label :url, 'URL (optional unless moderating with Akismet)' %><br />
    <%= f.text_field :url %>
  </div>

  <div class="para">
    <strong>How do you want to moderate new comments?</strong>
    <div class="indent">
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :none %>
        Don't moderate, approve all comments automatically.
      </label>
      <br />
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :akismet %>
        Check spam with <a href="http://akismet.com/">Akismet</a>, approve automatically if no spam detected.
      </label>
      <br />
      <label class="radio_option">
        <%= f.radio_button :moderation_method, :manual %>
        Manually approve all comments.
      </label>
    </div>
  </div>

  <div class="para">
    <%= f.label :akismet_key %><br />
    <%= f.text_field :akismet_key %>
  </div>

  <div class="para actions">
    <%= primary_button_submit_tag(@site.new_record? ? 'Create' : 'Update') %>
    <%= button_link_to 'Cancel', [:admin, @site] %>
  </div>
<% end %>
