<div class="sites">
<% @sites.each do |site| %>
  <%= div_for site do %>
    <div class="name">
      <%= link_to site.name, [:admin, site] %>
    </div>
    <div class="details">
      <%= site.comments.count %> comments over
      <%= site.topics.count %> topics
    </div>
    <div class="actions">
      <%= link_to 'Edit', edit_admin_site_path(site) %>
      <%= link_to 'Destroy', [:admin, site], :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
<% end %>
</div>
