<% if @sites.empty? %>
  <div class="sites empty">
    You haven't registered any sites.
    <p>
      <%= add_button_link_to 'Create a new site', new_admin_site_path %>
    </p>
  </div>
<% else %>
  <div class="list_with_actions">
    <div class="pre actions">
      <%= add_button_link_to 'Create a new site', new_admin_site_path %>
    </div>

    <div class="sites list">
    <% @sites.each do |site| %>
      <%= div_for(site, :class => 'item') do %>
        <%= small_identity_tag(:site, site.name, [:admin, site]) %>
      <% end %>
    <% end %>
    </div>

    <div class="post actions">
      <%= add_button_link_to 'Create a new site', new_admin_site_path %>
    </div>
  </div>
<% end %>
