<%= large_identity_tag :site, @site.name %>

<div class="info panel">
  <p>Key: <%= @site.key %> <%= button_link_to 'Show embedding code', 'javascript:void(showEmbeddingCode())' %></p>
  <p>Owned by: <%= @site.user.email %></p>
  <textarea readonly class="code" style="display: block; height: 3em" onclick="this.select()"><%= html_unsafe(
    render(:partial => 'admin/help/code.txt',
        :locals => {
            :container => '(a CSS path)',
            :site_key  => @site.key,
            :topic_key => '(some topic key)'
        }
    ))
%></textarea>
  <div>
    <%= button_group do %>
      <%= button_link_to 'Change owner' %>
      <%= button_link_to 'Change other information' %>
      <%= button_link_to 'Delete', [:admin, @site], :confirm => 'Are you sure? All containing comments will also be deleted!', :method => :delete %>
    <% end %>
  </div>
</div>

<h3>Topics</h3>
<% if @site.topics.empty? %>
  <p>This site doesn't have any topics yet.</p>
  <p>You don't have to manually create topics. A topic is automatically
  created whenever a user posts a comment with a certain topic ID.</p>
<% else %>
  <p>You don't have to manually create topics. A topic is automatically
  created whenever a user posts a comment with a certain topic ID.</p>
  
  <div class="list_with_actions">
    <div class="topics resources list">
      <% @site.last_updated_topics.each do |topic| %>
        <%= div_for(topic, :class => 'item container') do %>
          <div class="row">
            <div class="col_8 identity_column">
              <%= small_identity_tag :topic, topic.title, [:admin, topic] %>
            </div>
            <div class="col_4 last info_column">
              <%= topic_comments_count_and_last_comment_date(topic) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
