<% @title = @site.name %>
<%= large_identity_tag :site, @site.name %>

<script type="text/javascript">
function showEmbeddingCode() {
  $('#embedding_code').css('display', 'block');
  $('#show_embedding_code').hide();
  $('#hide_embedding_code').show();
}

function hideEmbeddingCode() {
  $('#embedding_code').hide();
  $('#show_embedding_code').show();
  $('#hide_embedding_code').hide();
}
</script>

<div class="site_info box">
  <div class="container">
    <div class="row">
      <div class="col_4">
        <strong>Owner</strong><br>
        <img src="//www.gravatar.com/avatar/<%= @site.user.email_md5 %>?s=22" width="22" height="22" style="display: inline-block; margin: 0 0.25em 0 0; vertical-align: middle">
        <%= link_to @site.user.email, [:admin, @site.user] %>
      </div>
      <div class="col_4">
        <strong>Moderation method</strong><br>
        <% if @site.moderation_method == :none %>
          None
        <% elsif @site.moderation_method == :akismet %>
          Automatically with Akismet
        <% elsif @site.moderation_method == :manual %>
          Manual
        <% else %>
          <% raise "Unknown moderation method #{@site.moderation_method.inspect}" %>
        <% end %>
      </div>
      <div class="col_4 omega">
        <strong>URL</strong><br>
        <% if @site.url %>
          <%= link_to @site.url, @site.url %>
        <% else %>
          None
        <% end %>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col_12 omega">
        <strong>Site key</strong><br>
        <input type="text" readonly value="<%= @site.key %>" onclick="this.select()">
        <%= button_link_to 'Show embedding code',
          'javascript:void(showEmbeddingCode())',
          :id => 'show_embedding_code' %>
        <%= button_link_to 'Hide embedding code',
          'javascript:void(hideEmbeddingCode())',
          :id => 'hide_embedding_code', :style => "display: none; margin-left: 0" %>
        <%= button_link_to 'Embedding help', '/admin/help/embedding', :style => 'margin-left: 0' %>
        <textarea readonly class="code" style="margin-top: 0.5em; display: none" onclick="this.select()" id="embedding_code"><%= html_unsafe(
          render(:partial => 'admin/help/code.txt',
              :locals => {
                  :site_key  => @site.key
              }
          ))
        %></textarea>
      </div>
    </div>
    <div class="row actions" style="margin-top: 1em">
      <div class="col_12 omega">
        <strong>Actions</strong><br>
        <%= comment_button_link_to 'Test site: see how a comment page looks like', test_admin_site_path(@site) %>
        <%= edit_button_link_to 'Edit', edit_admin_site_path(@site) %>
        <%= danger_remove_button_link_to 'Delete', [:admin, @site],
          :confirm => 'Are you sure? All topics and comments for this site will also be deleted!',
          :method => :delete %>
      </div>
    </div>
  </div>
</div>

<h3>Topics</h3>
<% if @site.topics.empty? %>
  <p>This site doesn't have any topics yet.</p>
  <p>You don't have to manually create topics. A topic is automatically
  created whenever a user posts a comment with a certain topic ID.</p>
<% else %>
  <p>You don't have to manually create topics. A topic is automatically
  created whenever a user posts a comment with a certain topic ID.</p>
  
  <div class="topics resources list">
    <%= render :partial => 'admin/topics/topic', :collection => @site.last_updated_topics %>
  </div>
<% end %>
